<!doctype html>
<html>    
    <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title> {% block title %} {% endblock title %} </title>
    </head>
    <style>
        {% block style %} {% endblock style %}

         #notification { 
            position: absolute;
            top: 0; 
            right: 0; 
        } 
        #para { 
            border: 1px solid black; 
            width: 300px; 
            height: 100px; 
            overflow: scroll; 
        } 
        .toast-color { 
            color: white; 
            background-color: #33b5e5; 
        } 

    </style>

    <body>

    <script>
$(document).ready(function(){
        $.get("/api/notifications", function(data) {
            if(data['notifications']) {
                 $('.toast').toast('show');
            } else {
                $('.toast').remove()
            }
        });
});    
        function goProfile() {
             window.location.href="/profile";
        }

</script>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">

        <div class="toast toast-color" id="notification"
                data-delay="3000"> 
        <div class="toast-header toast-color"> 
            <strong class="mr-auto">Notifications</strong>               
            <button type="button" class="ml-2 mb-1 close"
                    data-dismiss="toast" aria-label="Close"> 
                <span aria-hidden="true">×</span> 
            </button> 
        </div> 
          
        <div class="toast-body"> 
            You have new messages. Check now!
            <button type="button" class="btn btn-info" onclick="goProfile()">Profile</button>
        </div>
    </div> 

        <img class = "img-responsive" src="https://i.postimg.cc/7YPpx5gW/reallogo.png" style = "height:30%">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {% if homeActive %}
        <li class="nav-item active">
        {% else %}
        <li class = "nav-item">
        {% endif %}
          <a class="nav-link" href="/">Home
              </a>
       {% if not session['logged_in'] %}
        {% if loginActive %}
        <li class="nav-item active">
        {% else %}
        <li class = "nav-item">
        {% endif %}
          <a class="nav-link" href="/login">Login</a>
        </li>
        {% if signupActive %}
        <li class="nav-item active">
        {% else %}
        <li class = "nav-item">
        {% endif %}            
            <a class="nav-link" href="/signup">Signup</a>
        </li>
        {% endif %}

        {% if session['logged_in'] %}
        {% if leaderboardActive %}
        <li class="nav-item active">
        {% else %}
        <li class = "nav-item">
        {% endif %}            
          <a class="nav-link" href="/leaderboard">Leaderboard</a>
        </li>
        {% endif %}

        {% if session['logged_in'] %}
        {% if profileActive %}
        <li class="nav-item active">
        {% else %}
        <li class = "nav-item">
        {% endif %}            
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        {% endif %}

        
        {% if session['logged_in'] %}
        {% if citiesActive %}
        <li class="nav-item active">
        {% else %}
        <li class = "nav-item">
        {% endif %}            
          <a class="nav-link" href="/my_cities">My Cities</a>
        </li>
        {% endif %}

        {% if session['logged_in'] %}
        {% if mapActive %}
        <li class="nav-item active">
        {% else %}
        <li class = "nav-item">
        {% endif %}            
          <a class="nav-link" href="/map">Map</a>
        </li>
        {% endif %}

        {% if session['logged_in'] %}
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        {% endif %}
        {% if ourteamActive %}
        <li class="nav-item active">
        {% else %}
        <li class = "nav-item">
        {% endif %}            
            <a class="nav-link" href="/our_team">Our Team</a>
        </li>
    </div>
    </div>
</nav>




<!-- Page Content -->
        {% if homeActive %}
        <div class="container-fluid">
        {% else %}
        <div class="container-fluid">
        {% endif %}    
            {% block page_content %} {% endblock %}
        </div>

<div class="modal fade" id="Notifications" tabindex="-1" role="dialog" aria-labelledby="NotificationsLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="NotificationsLabel">Notification</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        You have unread messages!
      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- /.container -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    </body>


</html>
