{% extends "layout.html" %}
{% set leaderboardActive = 1 %}
{% block title %} Leaderboard {% endblock title %}
{% block style %} 
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
.zoom {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.me {
  background-color: #c8e6c9;
}
.sz {
  max-width:90%;
  max-height:90%;
}

{% endblock style %}


{% block page_content %} 

<div class = "row">
<div class="col-md-8 col-sm-8">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Email</th>
      <th scope="col">Number of Cities</th>
      <th scope="col">Options</th>
      
    </tr>
  </thead>
  <tbody>
    {% for idx in range(0, len) %}
      {% if lst[idx][0] == usr %}
      <tr class="me">
      {% else %}
      <tr>
      {% endif %}
      <th scope="row">{{idx}}</th>
      <td>{{lst[idx][0]}}</td>
      <td>{{lst[idx][1]}}</td>
      <td>0</td>
      <td class="td-actions">
        {% if lst[idx][0] == usr %}
        <button type="button" rel="tooltip" class="btn btn-info btn-round btn-just-icon btn-sm btn-block" data-original-title="" title="" disabled>
              <i class="fa fa-gamepad"></i>
        </button>
        {% elif lst[idx][0] in friends %} 
        <button type="button" rel="tooltip" class="btn btn-info btn-round btn-just-icon btn-sm btn-block" data-original-title="" title="" disabled>
              Already friend
        </button>
        {%elif lst[idx][0] in requested %}
        <button type="button" rel="tooltip" class="btn btn-info btn-round btn-just-icon btn-sm btn-block" data-original-title="" title="" disabled>
              Friend Request Waiting
        </button>
        {% else %}
        <form action="/friendAdd" method="post">
            <input type="hidden" name="username" value={{lst[idx][0]}} />
            <button type="submit" rel="tooltip" class="btn btn-info btn-round btn-just-icon btn-sm btn-block" data-original-title="" title="">
              Add friend
        </button>
        </form>
        {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>


<div class="col-md-4 col-sm-4">
<img class = "sz" src="https://media3.giphy.com/media/1jgLDGD1Bn27e/giphy.gif">
</div>

</div>


 {% endblock page_content %}